.nombres{
    max-width: 60%;
    min-width: 30%;
}


#nComunes, #nCientifico{
    border: 1px solid grey;
    width: 45%;
    float: left;
    margin: 20px;
    float: left;
}

#nComunes p, #nCientifico p{
    margin: 10px;
    padding: 8px;
    border: 1px dotted red;
}

#imgLarvas{
    width: 40%;
    float: right;
}
#imgAdulto{
    width: 55%;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px brown;
    background-color: rgb(223, 198, 198);
}

#imgLarvas img, #imgAdulto img{
    display: inline-block;
    max-width: 320px;
    margin: 10px;
    padding: 10px;
}