* {
    background-color: rgb(250, 229, 229);
}

.nombres {
    max-width: 90%;
    min-width: 30%;
}

#nComunes, #tFitosanitario {
    border: 1px solid grey;
    width: auto;
    margin: 20px;
    float: left;
}

#tFitosanitario {
    display: none;
}

#nCientifico {
    border: 1px solid grey;
    width: auto;
    float: right;
}

#nComunes p, #nCientifico p, #tFitosanitario p {
    margin: 10px;
    padding: 10px;
    border: 1px dotted red;
    background-color: white;
}

#imgLarvas {
    width: 57%;
    float: right;
    border: 1px solid black;
    margin-bottom: 30px;
}

#imgPuesta, #imgDanios {
    width: 35%;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px brown;
    background-color: rgb(223, 198, 198);
    text-align: center;
}

#imgAdulto {
    width: 35%;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px brown;
    background-color: rgb(223, 198, 198);
    margin-top: 30px;
}

#imgAdulto img {
    margin: 10px;
}

#imgLarvas figure {
    display: inline-block;
    width: auto;
}

#imgDanios img {
    display: inline-block;
    width: 200px;
}

#imgLarvas figure img, #imgAdulto img, #imgDanios img {
    display: inline-block;
    padding: 2px;
}
#imgPuesta, #imgDanios, #tFitosanitario{
    position: fixed;
    right: 1%;
    top: 25%;
    z-index: -1;
}


.mensaje {
    font-size: 50px;
    font-weight: bold;
    color: blue;
    background-color: rgba(158, 214, 214, 0.7);
    z-index: 10;
    position: fixed;
    top: 40%;
    left: 10%;
    right: 10%;
    width: auto;
    padding: 15px;
    border: 3px dashed blueviolet;
    text-align: center;
    display: none;
}

.men {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(209, 175, 175, 0);
    display: none;
}

#puntuacion {
    font-size: 30px;
    font-weight: bold;
    border: 2px dashed red;
    box-shadow: 10px 10px 10px brown;
    background-color: rgba(150, 212, 150, 0.7);
    padding: 3px;
    position: fixed;
    right: 2%;
    bottom: 3%;
    width: auto;
}