* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
}

.container>div {
    max-width: 90%;
    min-width: 75%;
}

.larvas, .adultos, .ciclos, .arboles, .danios, .puestas {
    border: 1px solid black;
    max-width: 50%;
    margin: 5px;
    padding: 5px;
    display: none;
}

.larvas figure, .adultos img, .ciclos img, .danios img, .puestas img, .arboles figure{
    width: 49%;
}

img:hover{
    width: 75%;
}

figure img{
    max-width: 100%;
}

.arboles figure, .larvas figure{
  float: left;
  padding: 10px;
}

.nComun {
    margin-bottom: 20px;
    border: 1px solid black;
}

.nCientifico {
    margin-bottom: 20px;
    border: 1px solid black;
}

.nComun p, .nCientifico p {
    width: auto;
    border: 1px dashed red;
    padding: 3px;
    margin: 3px;
}